body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 1800px;
    margin: 20px auto;
    text-align: center;
    right: 1px;
    position: relative;
    z-index: 1;
    min-width: 70%;
}

/* КНОПКИ */
.menu-button {
    /* background-color: #007bff; */
    background-color: #4B0082 ;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #9932CC;
}

.create-button {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.create-button:hover {
    background-color: #9932CC;
}

.edit-button {
    background-color: #4B0082;
    color: white;
    margin: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
}

.edit-button:hover {
    background-color: #9932CC;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #c82333;
}
.button-container {
    text-align: right;
    margin-bottom: 10px;
}

.button-container a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4B0082;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

.button-container a:hover {
    background-color: #9932CC;
}

.employee-table {
    margin: auto;
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.employee-table th, .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.employee-table th {
    background-color: #f2f2f2;
}

.search-form {
    text-align: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #218838;
}

.form {
    display: inline;
    unicode-bidi: isolate;
}

/* Адаптивность */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* СайдБар */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #4B0082;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
}