body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 1500px;
    margin: 20px auto;
    text-align: center;
    right: 1px;
    position: relative;
}

.button-container {
    text-align: right;
    margin-bottom: 10px;
}

.button-container a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4B0082;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

.button-container a:hover {
    background-color: #9932CC;
}

.create-button {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.create-button:hover {
    background-color: #9932CC;
}
.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #c82333;
}

.edit-button {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
}

.edit-button:hover {
    background-color: #9932CC;
}

.employee-table {
    width: auto;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.employee-table th, .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.employee-table th {
    background-color: #f2f2f2;
}